body {
    font-family: "Comic Sans MS"; /* default font */
    margin-bottom: 60px; /* Margin bottom by footer height */
}

html {
    position: relative;
    min-height: 100%;
}

.center {
    text-align: center;
}

.footer {
    /* sticky footer */
    text-align: center;
    position: absolute;
    margin-top: -50px;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}

/* post-it */
.post-it {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
    width: 360px;
}

.post-it-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.post-it-list {
    position: relative;
    font-size: 16px;
    margin-left: 0;
    list-style-type: none;
    padding: 0 0 0 4px;
}

.list-item-select {
    text-decoration: line-through;
}

.post-it-item-title {
    text-align: center;
    font-size: 16px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.item-entry {
    float: left;
}

.item-entry-delete {
    float: right;
    margin-right: 20px;
}

/* post-it colors */
.post-it-green {
    background-color: #D5E8D4;
}

.post-it-blue {
    background-color: #DAE8FC;
}

.post-it-orange {
    background-color: #FFE6CC;
}

.post-it-yellow {
    background-color: #FFF2CC;
}

.post-it-red {
    background-color: #F8CECC;
}

.post-it-purple {
    background-color: #E1D5E7;
}
